@page "/"
@inject BlazorApp4.Data.ApplicationDbContext DB

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    protected override void OnInitialized(){
        // var s = new Data.Store { Name = "second", Location = "loc1" };
        // var d = new Data.Discount { Amount = 0.2m };
        // var p = new Data.Product { Name = "first", Category="food",Price = 20.2m };
        // p.Discount = d;
        // p.Store = s;
        // s.Products = new List<Data.Product>();
        // s.Products.Add(p);
        // DB.Stores.Add(s);
        // DB.Discounts.Add(d);
        // DB.Products.Add(p);
        // DB.SaveChanges();
    }
}